<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recept Bolaget</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
    <h1>Recept Bolaget</h1>
    <hr>
    <nav>
        <ul>
            <li><a href="/recipes/new">Nytt recept</a></li>
        </ul>
    </nav>
    <hr>
</body>
</html>
